<div>
  <ul>
      <% @dogs.each do |dog| %>
        <img src="<%= dog.picture %>" alt="">
        <% if dog.photo.attached?  %>
        <%= cl_image_tag dog.photo.key, height: 200, width: 300, crop: :fill %>
       <% end %>
        <li>
        Name: <%= link_to dog.name, dog_path(dog.id) %>
        | Age: <%= dog.age %>
        | Location: <%= dog.location %>
        | Price: <%= dog.price %>€/h
        </li>
      <% end %>
  </ul>
</div>
<br>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to 'Create dog', new_dog_path(@dogs), :class => "btn btn-primary" %>
