<div>
  <ul>
      <% @dogs.each do |dog| %>
        <img src="<%= dog.picture %>" alt="">
        <li>Name: <%= link_to dog.name, dog_path(dog.id) %> | Age: <%= dog.age %> | Location: <%= dog.location %> | Price: <%= dog.price %>€/h </li>
      <% end %>
  </ul>

<br>

<%= link_to 'Create dog', new_dog_path(@dog), :class => "btn btn-primary" %>
