<div>
  <ul>
      <% @dogs.each do |dog| %>
        <img src="<%= dog.picture %>" alt="">
        <li>Name: <%= dog.name %> | Age: <%= dog.age %> | Location: <%= dog.location %> | Price: <%= dog.price %>€/h </li>
      <% end %>
  </ul>
</div>
