<div>
 <img src="<%= @dog.picture %>" alt="">
  <p>
    <%= @dog.name %>
  </p>

  <p>
    <%= @dog.location %>
  </p>

  <p>
    <%= @dog.description %>
  </p>

  <p>
    <%= @dog.price %>
  </p>
</div>
<br>
<%= link_to "BOOK A DOG", new_booking_path %>

<br>

<%= link_to 'Create Dog', new_dog_path(@dog), :class => "btn btn-primary" %>
<%= link_to 'Show Dogs', dogs_path(@dog), :class => "btn btn-primary" %>
