
<div class="banner">
  <div class="show-container">


 <% if @dog.photo.attached?  %>
   <%= cl_image_tag @dog.photo.key, class: "photo" %>
    <%else %>
  <img class="photo" src="<%= @dog.picture %>" alt="">
    <% end %>
  <div class="info">
      <h2>
        <%= @dog.name %>
      </h2>

      <h5>Age:</h5>
      <p><%= @dog.age %></p>

      <h5>Location:</h5><p><%= @dog.location %></p>

      <h5>Description:</h5>
      <p>
        <%= @dog.description %>
      </p>
    <h5>Price:</h5>
      <p>
        <%= @dog.price %>€ per day
      </p>
      <p class="button">
        <%= link_to "Book Me", new_dog_booking_path(@dog) %>
      </p>
    </div>
  </div>
</div>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
