<div>
 <img src="<%= @dog.picture %>" alt="">
  <p>
    <%= @dog.name %>
  </p>

  <p>
    <%= @dog.location %>
  </p>

  <p>
    <%= @dog.description %>
  </p>

  <p>
    <%= @dog.price %>
  </p>
</div>
<br>
 <%= link_to "BOOK A DOG", new_dog_booking_path(@dog) %>
