<div>
 <img src="<%= @dog.picture %>" alt="">
  <p>
    <%= @dog.name %>
  </p>

  <p>
    <%= @dog.location %>
  </p>

  <p>
    <%= @dog.description %>
  </p>

  <p>
    <%= @dog.price %>
  </p>

   <p>
    <%= cl_image_tag @dog.photo.key, height: 100, width: 200, crop: :fill %>
  </p>
</div>
<br>

 <%= link_to "BOOK A DOG", new_dog_booking_path(@dog) %>


<br>

<%= link_to 'Create Dog', new_dog_path(@dog), :class => "btn btn-primary" %>
<%= link_to 'Show Dogs', dogs_path(@dog), :class => "btn btn-primary" %>
<%= link_to 'Bookings', dog_bookings_url(@bookings), :class => "btn btn-primary" %>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
