<div class="card-container">
    <% @booking.each do |book| %>
      <div class="card">
        <% if book.dog.photo.attached?  %>
          <%= cl_image_tag book.dog.photo.key, class: "photo" %>
        <%else %>
          <img class="photo" src="<%= book.dog.picture %>" alt="">
        <% end %>
        <h2 class ="dog-name"> <%= book.dog.name %></h2>
        <div class="scroll-text">
          <p>Start-date: <%= book.start_date %></p>
          <p>End-date: <%= book.end_date %></p>
          <h3 class="dog-price"><%= book.dog.price %>€/day</h3>
        </div>
      </div>
  <% end %>
</div>
