<h1>You just made a booking!</h1>
<div class= "d-flex container-booking-body">
<div class= "booking-dog-name">
<p>
    <%= @booking.dog.name %>
  </p>
  </div>
<div class="booking-dates">
  <p>
    <%= @booking.start_date %>
  </p>
  <p>
    <%= @booking.end_date %>
  </p>
  </div>
  <div class="booking-location">
<p>You can pick up your dog from here!</p>
<%= @booking.dog.location %>
</div>
</div>
<br>


<br>
 <%# <%= link_to "DELETE", dog_booking_path(@booking, @dog),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
