<h1 class="title1">Congratulations!</h1>
<h1 class="title-bookings">You've just made a booking!</h1>
<div class= "container-booking-body">
  <div class= "booking-dog-name">
    <p>
    Your Doggy - <%= @booking.dog.name %>
    </p>
  </div>
   <% if @booking.dog.photo.attached?  %>
   <%= cl_image_tag @booking.dog.photo.key, class: "photo" %>
    <%else %>
  <img class="photo" src="<%= @booking.dog.picture %>" alt="">
    <% end %>
    <div class="booking-dates">
     <p> You'll have <%=@booking.dog.name%> for the following dates: <%= @booking.start_date %> - <%= @booking.end_date %></p>
    </div>
  <div class="booking-location">
    <p> <h4 class="dog-pickup" >You can pick up <%=@booking.dog.name%> from here! </h4></p>
    <%= @booking.dog.location %>
  </div>
  </div>
  <br>



<br>


  <br>

 <%# <%= link_to "DELETE", dog_booking_path(@booking, @dog),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
